:root {
  --main-color: #10cab7;
  --main-top-padding: 60px;
  --main-bottom-padding: 60px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Work Sans", sans-serif;
}

/* Start Component */

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Medium Screens */
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

/* Large Screens */
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

/* X-Large Screens */
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

.special-heading {
  font-size: 100px;
  text-align: center;
  color: #ebeced;
  letter-spacing: -2px;
}

.special-heading + p {
  text-align: center;
  font-size: 20px;
  margin: -30px 0 0;
  color: #777;
}

@media (max-width: 576px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}

/* End Component */

/* Start Header */

header {
  padding: 20px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  width: 60px;
}

header .links {
  position: relative;
}

header .links .icon {
  display: none;

  width: 30px;
}

@media (max-width: 576px) {
  header .links .icon {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
}

header .links .icon span {
  width: 100%;
  height: 2px;
  background-color: #333;
  margin-bottom: 5px;
}

header .links .icon span:nth-child(2) {
  width: 60%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

header .links:hover .icon span:nth-child(2) {
  width: 100%;
}

header .links ul {
  display: flex;
  list-style-type: none;
  position: relative;
  z-index: 2;
}

@media (max-width: 576px) {
  header .links ul {
    display: none;
  }
  header .links:hover ul {
    display: block;
    position: absolute;
    right: 0;
    top: calc(100% + 15px);
    min-width: 200px;
    background-color: #f6f6f6;
  }
  header .links ul::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent #f6f6f6 transparent;
    top: -20px;
    right: 5px;
  }
}

header .links ul li {
  padding: 0px 15px;
}

header .links ul li a {
  margin-right: 10px;
  text-decoration: none;
  color: #333;
  position: relative;
}

@media (max-width: 576px) {
  header .links ul li {
    padding: 0;
  }
  header .links ul li a {
    display: block;
    margin-right: 0;
    padding: 15px;
  }
}

header .links ul li a:hover::before {
  width: 100%;
}

header .links ul li a::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #eee;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

/* End Header */

/* Start Landing */

.landing {
  background-image: url(../image/landing.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}

.landing .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-align: center;
  width: 350px;
  max-width: 100%;
}

.landing .intro-text h1 {
  margin: 0;
  color: var(--main-color);
  font-size: 50px;
  font-weight: bold;
}

.landing .intro-text p {
  font-size: 19px;
  line-height: 1.8;
  margin-top: 15px;
}

/* End Landing */

/* Start Featuers */

.featuers {
  padding-top: var(--main-top-padding);
  padding-bottom: var(--main-bottom-padding);
  background-color: #f6f6f6;
}

.featuers .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.featuers .feat {
  text-align: center;
  padding: 20px;
}

.featuers .feat i {
  color: var(--main-color);
}

.featuers .feat h3 {
  margin: 30px 0;
}

.featuers .feat p {
  font-size: 17px;
  line-height: 1.8;
  color: #777;
}

/* End Featuers */

/* Start Services */

.services {
  padding-top: var(--main-top-padding);
  padding-bottom: var(--main-bottom-padding);
}

.services .services-content {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.services .services-content img {
  width: 260px;
}

.services .services-content .col .srv {
  display: flex;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .services .services-content .col .srv {
    flex-direction: column;
    text-align: center;
  }
}

.services .services-content .col .srv i {
  flex-basis: 60px;
  font-size: 35px;
  color: var(--main-color);
}

.services .services-content .col .srv .info {
  flex: 1;
}

.services .services-content .col .srv .info h3 {
  margin-bottom: 20px;
}

.services .services-content .col .srv .info p {
  color: #444;
  line-height: 1.8;
  font-weight: 300;
}

.services .services-content .col .image {
  text-align: center;
  position: relative;
}

@media (max-width: 1199px) {
  .services .services-content .col .image {
    display: none;
  }
}

.services .services-content .col .image::before {
  content: "";
  width: 100px;
  position: absolute;
  height: calc(100% + 100px);
  background-color: #2c4755;
  top: -50px;
  right: 0;
  z-index: -1;
}

/* End Services */

/* Start Profile */

.profile {
  padding-top: var(--main-top-padding);
  padding-bottom: var(--main-bottom-padding);
  background-color: #f6f6f6;
}

.profile .profile-content {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.profile .profile-content .box {
  background-color: white;
}

.profile .profile-content .box img {
  max-width: 100%;
}

.profile .profile-content .box .info {
  padding: 20px;
}

.profile .profile-content .box .info p {
  margin-top: 16px;
  line-height: 1.6;
  color: #777;
}

/* End Profile */

/* Start About */

.about {
  padding-top: var(--main-top-padding);
  padding-bottom: var(--main-bottom-padding);
}

.about .about-content {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about .about-content .image {
  width: 250px;
  height: 375px;
  position: relative;
}

.about .about-content .image::before {
  content: "";
  position: absolute;
  left: -20px;
  top: -40px;
  width: 100px;
  height: calc(100% + 80px);
  background-color: #ebeced;
  z-index: -1;
}

@media (max-width: 992px) {
  .about .about-content .image {
    display: none;
  }
  .about .about-content {
    justify-content: center;
  }
}

.about .about-content .image img {
  max-width: 100%;
  flex: 1;
}

.about .about-content .info {
  flex-basis: calc(100% - 350px);
}

@media (max-width: 992px) {
  .about .about-content .info {
    flex-basis: 100%;
  }
}

.about .about-content .info p:first-of-type {
  margin-bottom: 50px;
  line-height: 2;
  font-weight: bold;
  margin-top: 35px;
}

@media (max-width: 992px) {
  .about .about-content .info p:first-of-type {
    margin-top: 0;
  }
}

.about .about-content .info hr {
  border-color: var(--main-color);
  width: 60%;
}

.about .about-content .info p:last-of-type {
  margin-top: 16px;
  margin-bottom: 16px;
  color: #777;
  line-height: 2;
}

/* End About */

/* Start Contact */

.contact {
  padding-top: var(--main-top-padding);
  padding-bottom: var(--main-bottom-padding);
  background-color: #f6f6f6;
}

.contact .contact-content {
  margin-top: 90px;
}

.contact .contact-content .info {
  text-align: center;
}

.contact .contact-content .info > p {
  font-size: 35px;
  color: #2c4755;
  letter-spacing: -2px;
  font-weight: bold;
  margin-bottom: 15px;
}

.contact .contact-content .info a {
  font-size: 35px;
  font-weight: bold;
  text-decoration: none;
  color: var(--main-color);
}

@media (max-width: 576px) {
  .contact .contact-content .info > p {
    font-size: 30px;
  }
  .contact .contact-content .info a {
    font-size: 25px;
  }
}

.contact .contact-content .info .social {
  margin-top: 15px;
}

.contact .contact-content .info .social span {
  margin-left: 10px;
  color: #2c4755;
}

.contact .contact-content .info .social span i {
  cursor: pointer;
}

/* End Contact */

/* Start Footer */
footer {
  padding: 30px 10px;
  text-align: center;
  background-color: #2c4755;
  color: white;
  font-size: 18px;
}

footer span {
  color: var(--main-color);
  font-weight: bold;
}

/* End Footer */
